* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; /*linha azul em volta do input*/
    border: none;
    text-decoration: none;
}

:root {
    --vermelho: #d60000;
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --fonte: rgb(160, 10, 10);
    --botao: #F0B323;
    --fundo: #bb0000;
}

.container_red {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgba(160, 10, 10, 0.603), rgba(255, 255, 255, 0.219)), url(../images/familia_churrasco.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.login {
    padding: 30px 40px;
    color: var(--fonte);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    width: 30%;
    border-radius: 22px;
    box-shadow: 0 0 10px var(--branco);
    backdrop-filter: blur(5px);
    border: 2px solid var(--branco);
    height: 30%;
}    

.login img {
    width: 530px;
    height: auto;
    margin-top: 10px;
}


.footer {
    background-color:var(--branco);
    color: var(--preto);
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.botao {
    display: block;
    padding: 12px 24px;
    background-color: var(--branco);
    color: var(--vermelho);
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 120px;
    border: none;

}

.botao:hover {
    background-color: var(--botao);
    color: var(--branco);
}

.form-field {
    display: block;
    padding: 12px 24px;
    background-color: var(--branco);
    color: var(--vermelho);
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 30vh;
    height: 45px;
}

.form_login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}

.form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.botao-unico {
    display: block;
    padding: 12px 24px;
    color: #F0B323;
    font-family: Arial, sans-serif;
}

