* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; /*linha azul em volta do input*/
    border: none;
    text-decoration: none;
}

:root {
    --vermelho: #d60000;
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --fonte: rgb(160, 10, 10);
    --botao: #F0B323;
    --fundo: #bb0000;
}

.container_red {
    background-color: var(--vermelho);
    height: 100%;
    display: flex;
    min-height: 100vh;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 350px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    color: var(--fonte);
    width: 50%;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

.footer {
    background-color:var(--branco);
    color: var(--preto);
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.botao {
    display: block;
    padding: 12px 24px;
    background-color: var(--branco);
    color: var(--vermelho);
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 120px;
    border: none;

}

.botao:hover {
    background-color: var(--botao);
    color: var(--branco);
}

.form-field {
    display: block;
    padding: 12px 24px;
    background-color: var(--branco);
    color: var(--vermelho);
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 300px;
    height: 30px;
    border: none;
}

.form_login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}

.form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.botao-unico {
    display: block;
    padding: 12px 24px;
    color: #F0B323;
    font-family: Arial, sans-serif;
}

.fundo_login {
    margin-top: -15px;
    margin-bottom: -15px;
    background-color: var(--fundo);
    width: 80%;
    height: 50%;
    border-radius: 22px;
}