* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; /*linha azul em volta do input*/
    border: none;
    text-decoration: none;
    text-transform: capitalize; /*todos os textos com a primeira letra maiuscula*/
    transition: 0.2s linear;
}

:root {
    --vermelho: #d60000;
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --fonte: rgb(160, 10, 10);
    --botao: #F0B323;
}

.container_red {
    background-color: var(--vermelho);
    height: 100%;
    display: flex;
    min-height: 100vh;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 55vh;
    height: auto;
}

.opcao_login {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-top: 3.2rem;
    text-align: center;
    color: var(--fonte);
    width: 50%;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer {
    background-color: var(--branco);
    color: var(--preto);
    padding: 1.25rem;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.botao {
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: var(--branco);
    color: var(--fonte);
    font-size: 1.7rem;
    font-family: Arial, sans-serif;
    border-radius: 0.75rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 50vh;
    height: 8vh;
}

.botao:hover {
    background-color: var(--botao);
    color: var(--branco);
    letter-spacing: 0.1rem;
}
