* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; /*linha azul em volta do input*/
    border: none;
    text-decoration: none;
}

:root {
    --vermelho: #d60000;
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --fonte: rgb(160, 10, 10);
    --botao: #F0B323;
}

.container_red {
    height: 100%;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgba(160, 10, 10, 0.568), rgba(255, 255, 255, 0.171)), url(../images/carne_login.jpg);
    background-size: cover;
    
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 75%;
    height: auto;
}

.opcao_login {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-top: 3.2rem;
    text-align: center;
    color: var(--fonte);
    width: 50%;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer {
    background-color: var(--branco);
    color: var(--preto);
    padding: 1.25rem;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.botao {
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: var(--branco);
    color: var(--fonte);
    font-size: 3.5vh;
    font-family: Arial, sans-serif;
    border-radius: 0.75rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
    width: 57%;
    height: 8%;
}

.botao:hover {
    background-color: var(--botao);
    color: var(--branco);
    transition: 0.2s;
    width: 58.5%;
    height: 8.5%;
}

.registro {
    color: var(--branco);
    font-size: 2.5vh;
    font-family: Arial, sans-serif;
    font-style: bold;
}

.registro a {
    color: var(--branco);
    font-family: Arial, sans-serif;
}

.registro a:hover {
    text-decoration: underline;
    font-size: 2.7vh;
}

/*responsividade para telas menores*/

@media (max-width:1070px) {
    .container_red {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botao {
        width: 60%;
        height: 100%;
    }
}

@media (max-width: 915px){
    .botao {
        font-size: 3vh;
    }

    .registro {
        font-size: 2.2vh;
    }
}

footer {
  background-color: #b91010;
  color: #fff;
  padding: 20px 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 170px;  /* tamanho da logo */
  height: auto;
  margin-right: 15px;
}

    /* Redes sociais */
.footer-social {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.footer-social a {
  color: #d4d4d4;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #fff; /* muda cor ao passar o mouse */
}

    /* Copy centralizado */
.footer-copy {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

    /* Responsivo */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}