* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --vermelho: #d60000;
  --branco: rgb(255, 255, 255);
  --preto: rgb(0, 0, 0);
  --fonte: rgb(160, 10, 10);
  --botao: #F0B323;
  --fundo: #bb0000;
  --fundo2: #d32f2f;
  --cinza: #483C32;
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
}

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99%;
  border-bottom: 2px solid var(--fundo);
  background-color: var(--branco);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 150px;
}

.logo img {
  width: 230px;
  height: auto;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--preto);
  font-weight: 520;
}

.navbar a:hover {
  color: var(--vermelho);
  border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.icons i {
  color: var(--preto);
  font-size: 2.5rem;
  margin-left: 25px;
  cursor: pointer;
}

.icons i:hover {
  color: var(--vermelho);
  font-size: 2.7rem;
}

/* MOBILE MENU qual classe é essa? não achei (isa) 
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--branco);
  margin: 6px;
  transition: 0.3s;
} comentei tudo para ficar em evidência*/

/* HERO */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgba(209, 7, 7, 0.726), rgba(0, 0, 0, 0.363)), url(../images/carne_index.jpg) center/ cover no-repeat;
  color: white;
  padding: 40px;
  max-height: 50vh;
  margin-top: 7%;
}

.boas-vindas h1{
  text-align: left;
  font-size: 6rem;
  margin-left: 25px;
}

.compre h2,
.compre h3 {
  font-size: 2.5rem;
  margin: 0;
}

.compre p {
  font-size: 2rem;
  margin: 20px 10px;
  font-weight: 600;
}

.compre button {
  background: var(--cinza);
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 1.7rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 501;
  width: 30vh
}

.compre button:hover {
  background-color: var(--branco);
  color: var(--vermelho);
  transition: background 0.3s;
}

/* SECTIONS */


.categories .cards {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
  height: 5vh;
  text-align: center;
}

.categories .cards h4 {
  font-weight: lighter;
  
}

.categories .cards .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.7rem;
}

/* MOBILE RESPONSIVE */
@media (max-width: 999px) {
  .menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--vermelho);
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-top: 40px;
  }

  .menu li {
    margin: 20px 0;
    opacity: 0;
  }

  .menu.active {
    transform: translateX(0);
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}