* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

:root {
  --vermelho: #d60000;
  --branco: rgb(255, 255, 255);
  --preto: rgb(0, 0, 0);
  --fonte: rgb(160, 10, 10);
  --botao: #F0B323;
  --fundo: #bb0000;
  --fundo2: #fa2727;
  --cinza: #483C32;
  --margem: 120px
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 2px solid var(--fundo);
  background-color: var(--branco);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: var(--margem);
}

.logo img {
  width: 12rem;
  height: auto;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: var(--preto);
  font-weight: 520;
}

.navbar a:hover {
  color: var(--vermelho);
  border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.icons {
  display: flex;
}

.icons i {
  color: var(--preto);
  font-size: 1.7rem;
  margin-left: 25px;
  cursor: pointer;
}

.icons i:hover {
  color: var(--vermelho);
  font-size: 1.9rem;
}

.icons .perfil {
  position: relative;
  display: inline-block;
}

.icons .perfil button {
  background: var(--branco);
}

.icons .perfil .menu {
  position: absolute;
  right: 0;
  background: var(--branco);
  border: 2px solid var(--fundo);
  border-radius: 6px;
  list-style: none;
  padding: 0.5rem;
  min-width: 180px;
}

.icons .perfil .menu li {
  cursor: pointer;
  padding: 0.5rem;
}

.icons .perfil .menu li:hover {
  background: var(--fundo2);
  color: var(--branco);
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgba(8, 0, 0, 0.452), rgba(0, 0, 0, 0.144)), url(../images/vendedor.jpeg) top/cover no-repeat;
  color: white;
  padding: 40px;
  min-height: 35vh;
  margin-top: var(--margem);
  text-align: center;
}

.boas-vindas h1 {
  text-align: left;
  font-size: 3.5rem;
  margin-left: 25px;
}

.compre h2,
.compre h3 {
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 13px;
}

.compre p {
  font-size: 1.3rem;
  margin: 20px 10px;
  font-weight: 600;
}

/*PONTOS*/
.recompensas {
  padding: 2rem;
  color: var(--fundo);
  text-align: center;
  background: var(--branco);
  width: 100%;
}

.recompensas h2 {
  margin-bottom: 20px;
}

.pontos {
  background: var(--branco);
  border: 4px solid var(--fundo);
  color: var(--fonte);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.pontos-qntd {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pontos-qntd img {
  height: 7vh;
  margin-bottom: 5px;
}

.recompensas-lista {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.premio {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 1rem;
  min-height: 30vh;
  min-height: 17vh;
  text-align: center;
  border: 2px solid var(--fundo);
}

.premio h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.premio:hover {
  transform: translateY(-5px);
}

.missoes {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.missoes h3 {
  font-size: 1.3rem;
}

.animacoes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/*ANIMAÇÃO MISSÕES*/

.flip_container {
  perspective: 1000px;
  /* profundidade do 3D */
  min-width: 22vh;
  min-height: 22vh;
  cursor: pointer;
}

.flip_card {
  /*toda largura e altura do container*/
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  /*presenva a profundidade 3d*/
  transition: transform 0.6s;
  z-index: 1;
}

.flip_container.clicked .flip_card {
  /*quando eu clicar no container, o card vira*/
  transform: rotateY(180deg);
  /*gira 180*/
}

.flip_face {
  position: absolute;
  /*uma face sobre a outra*/
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* esconde o lado de trás */
  overflow: hidden;
  /*corta conteudo alem das bordas*/
}

.card_front {
  background: url(../images/estrela_missao_vinho.jpg) center/cover no-repeat;
  /*parte da frente do card*/
  color: var(--preto);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
}

.card_back {
  /*parte de tras do card*/
  background: white;
  color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transform: rotateY(180deg);
  /*rotaciona o verso junto*/
  border-radius: 200px;
  border: 2px solid var(--fundo);
}

.consultor-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background: #f5f5f5;
  min-height: 100vh;
}

/* Ranking */

.rankings {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.rankings .ranking_esquerda {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--fundo);
}

.rankings .ranking_esquerda h2 {
  color: var(--fundo);
}

.rankings .ranking_esquerda .ranking_cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.rankings .ranking_esquerda .ranking_cards .pessoa {
  display: flex;
  font-weight: lighter;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  justify-content: left;
  align-items: center;
}

.rankings .ranking_esquerda .ranking_cards a {
  text-decoration: none;
  color: var(--preto);
}

.rankings .ranking_esquerda .ranking_cards a:hover {
  text-decoration: underline;
  color: var(--fundo);
  font-weight: bold;
}

.rankings .ranking_direita {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--fundo);
}

.rankings .ranking_direita h2 {
  color: var(--fundo);
}

.rankings .ranking_direita .ranking_cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.rankings .ranking_direita .ranking_cards .pessoa {
  display: flex;
  font-weight: lighter;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  justify-content: left;
  align-items: center;
}

.rankings .ranking_direita .ranking_cards a {
  text-decoration: none;
  color: var(--preto);
}

.rankings .ranking_direita .ranking_cards a:hover {
  text-decoration: underline;
  color: var(--fundo);
  font-weight: bold;
}


.clientes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.clientes .chat {
  flex: 1;
  border: 2px solid var(--fundo);
  border-radius: 20px;
  padding: 1rem;
}

.clientes .chat h2 {
  margin-bottom: 10px;
  color: var(--fundo);
  text-align: center;
}

.clientes .chat .chat_box {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.425);
}

.clientes .chat .chat_box .mensagem {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 8px;
  max-width: 70%;
}

.clientes .chat .chat_box .mensagem.cliente {
  background: #e0e0e0;
  text-align: left;
}

.clientes .chat .chat_box .mensagem.consultor {
  background: #d60000;
  color: white;
  margin-left: auto;
  text-align: right;
}

.clientes .chat .chat_box a {
  color: var(--preto);
  text-decoration: none;
  text-align: right;
  display: block;
  margin-top: 1rem;
}

.clientes .chat .chat_box a:hover {
  color: var(--fundo);
  font-weight: bold;
  text-decoration: underline;
}

.clientes .pedidos {
  flex: 1;
  border: 2px solid var(--fundo);
  border-radius: 20px;
  padding: 1rem;
}

.clientes .pedidos h2 {
  color: var(--fundo);
  text-align: center;
  margin-bottom: 10px;
}

.clientes .pedidos ul {
  list-style: none;
  padding: 0;
}

.pedidos li {
  background: white;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.322);
}

.clientes .pedidos a {
  color: var(--preto);
  text-decoration: none;
  text-align: right;
  display: block;
  margin-top: 3rem;
}

.clientes .pedidos a:hover {
  color: var(--fundo);
  font-weight: bold;
  text-decoration: underline;
}

footer {
  background-color: #b91010;
  color: #fff;
  padding: 20px 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: var(--branco);
  flex-direction: column;
}

.footer-logo img {
  width: 170px;
  /* tamanho da logo */
  height: auto;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Redes sociais */
.footer-social {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.footer-social a {
  color: #d4d4d4;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #fff;
  /* muda cor ao passar o mouse */
}

/* Copy centralizado */
.footer-copy {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

/* Responsivo */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}