* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

:root {
  --vermelho: #d60000;
  --branco: rgb(255, 255, 255);
  --preto: rgb(0, 0, 0);
  --fonte: rgb(160, 10, 10);
  --botao: #F0B323;
  --fundo: #bb0000;
  --fundo2: #d32f2f;
  --cinza: #483C32;
  --margem: 120px
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
}

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 2px solid var(--fundo);
  background-color: var(--branco);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: var(--margem);
}

.logo img {
  width: 12rem;
  height: auto;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: var(--preto);
  font-weight: 520;
}

.navbar a:hover {
  color: var(--vermelho);
  border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.icons i {
  color: var(--preto);
  font-size: 1.7rem;
  margin-left: 25px;
  cursor: pointer;
}

.icons i:hover {
  color: var(--vermelho);
  font-size: 1.9rem;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgba(209, 7, 7, 0.726), rgba(0, 0, 0, 0.363)), url(../images/carne_index.jpg) center/ cover no-repeat;
  color: white;
  padding: 40px;
  max-height: 50vh;
  margin-top: var(--margem);
  text-align: center;
}

.boas-vindas h1 {
  text-align: left;
  font-size: 3.5rem;
  margin-left: 25px;
}

.compre h2,
.compre h3 {
  font-size: 1.7rem;
  margin: 0;
}

.compre p {
  font-size: 1.3rem;
  margin: 20px 10px;
  font-weight: 600;
}

.compre button {
  background: var(--cinza);
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 501;
  min-width: 20vh
}

.compre button:hover {
  background-color: var(--branco);
  color: var(--vermelho);
  transition: background 0.3s;
}

/* SECTIONS */
.categories .cards {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  height: 3vh;
  text-align: center;
}

.categories .cards h4 {
  font-weight: lighter;
  font-size: 1.1rem;
}

.categories .cards .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.categories .cards h4:hover {
  color: var(--vermelho);
  font-weight: bold;
  border-bottom: 0.1rem solid var(--vermelho);
  font-size: 1.2rem;
  cursor: pointer;
}

.categories .cards .card:hover {
  color: var(--vermelho);
  font-weight: bold;
  border-bottom: 0.1rem solid var(--vermelho);
  font-size: 1.2rem;
  cursor: pointer;
}

/*PONTOS*/
.recompensas {
  padding: 2rem;
  color: var(--branco);
  text-align: center;
  background: linear-gradient(135deg, #d60000, #bb0000);
  width: 100%;
}

.recompensas h2 {
  margin-bottom: 20px;
}

.pontos {
  background: rgb(255, 255, 255);
  color: var(--fonte);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.pontos-qntd {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pontos-qntd img {
  height: 7vh;
  margin-bottom: 5px;
}

.recompensas-lista {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.premio {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 1rem;
  min-height: 30vh;
  min-height: 17vh;
  text-align: center;
}

.premio h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.premio:hover {
  transform: translateY(-5px);
}

.missoes {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.missoes h3 {
  font-size: 1.3rem;

}

.animacoes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/*ANIMAÇÃO MISSÕES*/

.flip_container {
  perspective: 1000px;   /* profundidade do 3D */
  min-width: 20vh;
  min-height: 20vh;
  cursor: pointer;
}

.flip_card { /*toda largura e altura do container*/
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /*presenva a profundidade 3d*/
  transition: transform 0.6s;
  z-index: 1;
}

.flip_container.clicked .flip_card { /*quando eu clicar no container, o card vira*/
  transform: rotateY(180deg); /*gira 180*/
}

.flip_face {
  position: absolute; /*uma face sobre a outra*/
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* esconde o lado de trás */
  overflow: hidden; /*corta conteudo alem das bordas*/
}

.card_front {
  background: url(../images/estrela_missao.png) center/cover no-repeat; /*parte da frente do card*/
  color: var(--preto);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
}

.card_back {  /*parte de tras do card*/
  background: white;
  color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transform: rotateY(180deg); /*rotaciona o verso junto*/
  border-radius: 200px;
}





/*PROMOÇÕES*/

.promotions h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-decoration: underline var(--fundo);
  text-underline-offset: 10px;
}


.promotions .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 0.5fr));
  /*como queremos organizar nossas colunas; repetir a qntd de vezes que forem necessarias sendo que vai ser automatico, e o tamanho minimo sera 30rem e o max 1fr (tela completa */
  gap: 1.5rem;
}

.promotions .box-container .box {
  text-align: center;
}

.promotions .box-container .box img {
  height: 10rem;
  ;
}

.promotions .box-container .box h3 {
  color: var(--preto);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.promotions .box-container .box .price {
  color: var(--preto);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.promotions .box-container .box span {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.promotions .box-container .box button {
  background-color: var(--branco);
  font-size: 1rem;
  margin-top: 30px;
  border: 1px solid var(--fundo);
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  width: 13vw;
}

.promotions .box-container .box button:hover {
  background-color: var(--fundo);
  color: var(--branco);
  width: 14vw;
  font-weight: bold;
  cursor: pointer;
}



/*bestsellers*/


.bestSellers h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-decoration: underline var(--fundo);
  text-underline-offset: 10px;
}

.bestSellers .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 0.5fr));
  /*como queremos organizar nossas colunas; repetir a qntd de vezes que forem necessarias sendo que vai ser automatico, e o tamanho minimo sera 30rem e o max 1fr (tela completa */
  gap: 1.5rem;
}

.bestSellers .box-container .box {
  text-align: center;
}

.bestSellers .box-container .box img {
  height: 10rem;
  ;
}

.bestSellers .box-container .box h3 {
  color: var(--preto);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.bestSellers .box-container .box .price {
  color: var(--preto);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.bestSellers .box-container .box span {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.bestSellers .box-container .box button {
  background-color: var(--branco);
  font-size: 1rem;
  margin-top: 30px;
  border: 1px solid var(--fundo);
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  width: 13vw;
}

.bestSellers .box-container .box button:hover {
  background-color: var(--fundo);
  color: var(--branco);
  width: 14vw;
  font-weight: bold;
  cursor: pointer;
}



/*embalados*/

.packaged h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-decoration: underline var(--fundo);
  text-underline-offset: 10px;
}

.packaged .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 0.5fr));
  /*como queremos organizar nossas colunas; repetir a qntd de vezes que forem necessarias sendo que vai ser automatico, e o tamanho minimo sera 30rem e o max 1fr (tela completa */
  gap: 1.5rem;
}

.packaged .box-container .box {
  text-align: center;
}

.packaged .box-container .box img {
  height: 10rem;
  ;
}

.packaged .box-container .box h3 {
  color: var(--preto);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.packaged .box-container .box .price {
  color: var(--preto);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.packaged .box-container .box span {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.packaged .box-container .box button {
  background-color: var(--branco);
  font-size: 1rem;
  margin-top: 30px;
  border: 1px solid var(--fundo);
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  width: 13vw;
}

.packaged .box-container .box button:hover {
  background-color: var(--fundo);
  color: var(--branco);
  width: 14vw;
  font-weight: bold;
  cursor: pointer;
}


footer {
  background-color: #b91010;
  color: #fff;
  padding: 20px 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 170px;
  /* tamanho da logo */
  height: auto;
  margin-right: 15px;
}

/* Redes sociais */
.footer-social {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.footer-social a {
  color: #d4d4d4;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #fff;
  /* muda cor ao passar o mouse */
}

/* Copy centralizado */
.footer-copy {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

/* Responsivo */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}